<div class="example-container" style="height: 680px; background-color: slategrey; text-align: center;">
    <h1 style="font-size: 30px; padding-top: 100px;">Login</h1>
    <mat-form-field appearance="fill" style="width: 320px">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="fill" style="width: 320px">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field><br><br>
    
    <button mat-stroked-button color="primary" (click)="register()">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="primary" (click)="login()">Login</button>
</div>